button, .button{
  outline: none;
  color: white;
  cursor: pointer;
  text-align: center;

  &:not(.unstyled){
    border-radius: 5px;
    border: none;
    background: $orange;
    font-size: 20px;
    padding: 1em;
    font-size: 1.1em;

    &:hover{
      background-color: darken($orange, 10%);
    }

    &.small{
      font-size: 15px;
      padding: 6px 10px;
    }

    &.button-unfilled{
      background-color: transparent;
      border: 1px solid $orange;
      color: $orange;

      &:hover{
        background-color: darken($globalBackground, 3%);
      }
    }
  }

  &.unstyled{
    background: transparent;
    border: none;
  }
}
