button, .button{
  outline: none;
  color: white;
  cursor: pointer;
  
  &:not(.unstyled){
    border-radius: 5px;
    border: none;
    background: $orange;
    font-size: 20px;
    padding: 1em;
    font-size: 1.1em;

    &:hover{
      background-color: darken($orange, 10%);
    }

    &.small{
      font-size: 15px;
      padding: 6px 10px;
    }
  }

  &.unstyled{
    background: transparent;
    border: none;
  }
}
