// - - - - - - - - - - - - - - - - - - -
// - - layout
// global layout classes - height, width, padding, margin, etc.

html,
body,
#app,

.wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.subwrapper{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.wrapper > header{
  background: $headerBackground;
  flex: 0 60px;
  color: $sidebarTextColor;

  h1 {
    margin: 12px 12px;
    float: left;
  }

  .menu{
    display: flex;
    float: right;
    height: 100%;

    .current-user{
      display: flex;
      border-right: 1px solid $sidebarBorderColor;
      align-items: center;

      .avatar{
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }

      .avatar, .username{
        margin-right: 15px;
      }
    }

    .current-user, button{
      height: 100%;
    }

    button{
      padding-left: 15px;
      padding-right: 15px;

      &:hover{
        background: lighten($headerBackground, 5%);
      }
    }

    &:after{
      display: block;
      clear: both;
    }
  }
}

nav{
  background: $sidebarBackground;
  flex: 0 150px;
  color: $sidebarTextColor;

  ul{
    margin: 0;
    padding: 0;

    li{
      text-align: center;
      list-style-type: none;
      color: white;
      padding: 50px 0;
      font-weight: bold;
      border-bottom: 1px solid $sidebarBorderColor;
      cursor: pointer;

      &:hover{
        background-color: lighten($sidebarBackground, 3%);
      }

      &.current{
        background-color: $globalBackground;
        color: $sidebarBackground;
        border-left: 6px solid $orange;
        border-bottom: 0px;
      }

      .icon{
        font-size: 30px;
      }
    }
  }
}

main{
  flex: 1;
  background: $globalBackground;
  padding: 50px;
  overflow: scroll;
  color: $mainColorText;

  h1{
    margin-top: 0;
    font-size: 2.5em;
    margin-bottom: 1em;
  }
}
