// - - - - - - - - - - - - - - - - - - -
// - - layout
// global layout classes - height, width, padding, margin, etc.

html,
body,
#app,

.wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.subwrapper{
  display: flex;
  flex-direction: row;
  flex: 1;
}

header{
  background: $headerBackground;
  flex: 0 60px;
  color: $sidebarTextColor;

  h1 {
    margin: 12px 12px;
  }
}

nav{
  background: $sidebarBackground;
  flex: 0 150px;
  color: $sidebarTextColor;

  ul{
    margin: 0;
    padding: 0;

    li{
      text-align: center;
      list-style-type: none;
      color: white;
      padding: 50px 0;
      font-weight: bold;
      border-bottom: 1px solid $sidebarBorderColor;

      &:hover{
        background-color: lighten($sidebarBackground, 3%);
      }

      &.current{
        background-color: $globalBackground;
        color: $sidebarBackground;
        border-left: 6px solid $orange;
        border-bottom: 0px;
      }

      .icon{
        font-size: 30px;
      }
    }
  }
}

main{
  flex: 1;
  background: $globalBackground;
  padding: 50px;
}
