// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables

$globalBackground: #F3F5F5;
$headerBackground: #242A2B;
$sidebarBackground: #2A3131;
$navbarTextColor: #D0D6D8;
$navbarBorderColor: #363D3D;
$orange: #FF9000;
