// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables

$globalBackground: #F3F5F5;
$headerBackground: #242A2B;
$sidebarBackground: #2A3131;
$sidebarTextColor: #D0D6D8;
$sidebarBorderColor: #363D3D;
$orange: #FF9000;
$homeText: #8F8F8F;
$formInputBorder: rgba(0, 0, 0, .15);
$mainColorText: #5E5E5E;
$white: #FFFFFF;
$borderColor: #EBEDED;
