#box_office{
  .box-office-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;

    .field, .connected-sellers-wrapper{
      flex: 1;
    }

    select{
      width: 90%;
    }

    .online-ticket-sellers{
      .ticket-seller{
        width: 100px;
        display: inline-block;
        text-align: center;

        img {
          width: 60px;
          border-radius: 30px;
        }

        span{
          display: block;
          font-size: 12px;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }

  .box-office-body{
    display: flex;
    flex-direction: row;
    width: 100%;

    > div {
      margin: 0 50px;
    }

    #room_view_wrapper{
      flex: 3;
    }

    .tickets-wrapper{
      .sale{
        width: 350px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        border-top: 5px solid $orange;
        background: $white;
        padding-bottom: 20px;

        .sale-header{
          text-align: center;
          font-size: 35px;
          font-family: 'Prompt';
          padding: 10px 0;
        }

        .cover{
          width: 350px;
          height: 175px;
          background-size: cover;

          img {
            width: 100%;
            position: absolute;
            top: -50%;
          }
        }

        .screening-details{
          text-align: center;
        }

        .ticket{
          display: flex;
          flex-direction: row;
          width: 100%;

          .row, .column{
            width: 50%;
            text-align: center;

            .title{

            }

            .value{

            }
          }
        }
      }
    }

    button{
      width: 100%;
      margin-top: 20px;
    }
  }


  .room{
    .row-counter, .seat, .floor, .column-footer{
      width: $spotSize;
      display: inline-block;
      margin: 0 7px 7px 0;
      border-width: 1px;
      border-style: solid;
    }

    .row-counter{
      border-color: transparent;
      vertical-align: middle;
      text-align: right;
      margin-right: 15px;
      font-size: 18px;
    }

    .column-footer{
      border-color: transparent;
      text-align: center;
      font-size: 18px;
    }

    .seat{
      border-radius: 4px;
      height: $spotSize;
      vertical-align: middle;

      &.available{
        cursor: pointer;
        background-color: darken($globalBackground, 5%);
        border-color: #ccc;

        &:hover {
          background-color: darken($globalBackground, 10%);
        }
      }

      &.sold{
        background-color: red;
        border-color: red;
      }

      &.locked-by-you{
        background-color: green;
        border-color: green;
        cursor: pointer;
      }

      &.locked-by-someone{
        background-color: purple;
        border-color: purple;
      }
    }
    .floor{
      border-color: transparent;
      height: $spotSize;
      vertical-align: middle;
    }

    .footer{
      .column-footer:first-child{
        margin-left: 50px;
      }
    }
  }

  .room-legend{
    list-style-type: none;
    padding-left: 50px;

    li{
      display: inline;
      margin-right: 15px;
      vertical-align: bottom;

      &::before{
        border-radius: 5px;
      }

      &.sold::before{
        background-color: red;
      }

      &.locked-by-you::before{
        background-color: green;
      }

      &.locked-by-someone::before{
        background-color: purple;
      }
    }

    li::before{
      content: " ";
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: bottom;
      margin-right: 5px;
    }
  }
}
