#box_office{
  .online-ticket-sellers{
    .ticket-seller{
      width: 100px;
      display: inline-block;
      text-align: center;

      img {
        width: 70px;
        border-radius: 35px;
      }

      span{
        display: block;
      }
    }
  }

  .room{
    .seat, .floor{
      width: 20px;
      height: 20px;
      display: inline-block;
      margin: 0 7px 7px 0;
      border-width: 1px;
      border-style: solid;
    }

    .seat{
      border-color: #000;

      &.sold{
        background-color: red;
      }

      &.locked-by-you{
        background-color: green;
      }

      &.locked-by-someone{
        background-color: purple;
      }
    }
    .floor{
      border-color: transparent;
    }
  }
}
