#box_office{
  .box-office-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;

    .field, .connected-sellers-wrapper{
      flex: 1;
    }

    select{
      width: 90%;
    }

    .online-ticket-sellers{
      .ticket-seller{
        width: 100px;
        display: inline-block;
        text-align: center;

        img {
          width: 60px;
          border-radius: 30px;
        }

        span{
          display: block;
          font-size: 12px;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }

  .box-office-body{
    display: flex;
    flex-direction: row;
    width: 100%;

    > div {
      margin: 0 15px;
    }

    .poster-wrapper{
      img {
        width: 250px;
        border-radius: 10px;
      }
    }

    #room_view_wrapper{
      flex: 3;
    }

    .tickets-wrapper{

    }
  }


  .room{
    .row-counter, .seat, .floor, .column-footer{
      width: $spotSize;
      display: inline-block;
      margin: 0 7px 7px 0;
      border-width: 1px;
      border-style: solid;
    }

    .row-counter{
      border-color: transparent;
      vertical-align: middle;
      text-align: right;
      margin-right: 15px;
      font-size: 18px;
    }

    .column-footer{
      border-color: transparent;
      text-align: center;
      font-size: 18px;
    }

    .seat{
      border-radius: 4px;
      height: $spotSize;
      vertical-align: middle;

      &.available{
        cursor: pointer;
        background-color: darken($globalBackground, 5%);
        border-color: #ccc;

        &:hover {
          background-color: darken($globalBackground, 10%);
        }
      }

      &.sold{
        background-color: red;
        border-color: red;
      }

      &.locked-by-you{
        background-color: green;
        border-color: green;
        cursor: pointer;
      }

      &.locked-by-someone{
        background-color: purple;
        border-color: purple;
      }
    }
    .floor{
      border-color: transparent;
      height: $spotSize;
      vertical-align: middle;
    }

    .footer{
      .column-footer:first-child{
        margin-left: 50px;
      }
    }
  }

  .room-legend{
    list-style-type: none;
    padding: 0;

    li{
      display: inline;
      margin-right: 15px;
      vertical-align: bottom;

      &.sold::before{
        background-color: red;
      }

      &.locked-by-you::before{
        background-color: green;
      }

      &.locked-by-someone::before{
        background-color: purple;
      }
    }

    li::before{
      content: " ";
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: bottom;
      margin-right: 5px;
    }
  }
}
