#movie_list{
  ul{
    padding: 0;
    margin: 0;

    .movie-item, .add-movie-item{
      list-style-type: none;
      display: inline-block;
      margin: 0 15px 30px;
      vertical-align: top;
    }

    .movie-item{
      .poster {
        width: 150px;
        height: 225px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }

      span{
        display: block;
        margin-top: 10px;
        font-size: 14px;
      }
    }

    .add-movie-item{
      .button{
        display: table;
        width: 150px;
        height: 225px;
        border-radius: 5px;
        background: darken($globalBackground, 5%);
        border: 2px solid darken($globalBackground, 10%);
        box-sizing: border-box;
        position: relative;
        text-align: center;
        color: darken($globalBackground, 20%);
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        outline: none;

        &:hover{
          background: darken($globalBackground, 8%);
        }

        span{
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}

#movie_form{
  width: 900px;

  .group{
    display: flex;
    flex-direction: row;
    margin: 0 -20px;

    .column {
      flex: 1;
      margin: 20px;
    }
  }


  input[type="text"]{
    width: 100%;
  }

  input[type="number"]{
    width: 100px;
  }

  textarea{
    width: 100%;
    height: 120px;
  }
}
