$spotSize: 35px;
$seatSpotColor: #c56161;

#room_list{
  max-width: 700px;

  .actions{
    margin-top: 50px;
    text-align: right;
  }

  .empty{
    text-align: center;
  }

  table{
    width: 100%;
    border-spacing: 0;
    margin-bottom: 20px;

    .capacity{
      width: 100px;
      text-align: right;
    }
  }
}

#room_form{
  .size-manager{
    margin-bottom: 20px;

    input[type="text"]{
      width: 300px;
    }

    input[type="number"]{
      width: 100px;
    }
  }

  .matrix-placeholder{
    font-size: 50px;
    margin: 200px;
    text-align: center;
  }

  .matrix{
    .matrix-footer{
      margin-left: 30px;

      .column-footer{
        text-align: center;
        width: $spotSize;
        height: 25px;
        border: 1px solid transparent;
        display: inline-block;
        text-align: center;
        margin: 0px 7px 7px 0px;
        font-weight: bold;
        font-size: 18px;
      }
    }

    .row{
      .row-counter, .seat-spot, button{
        vertical-align: middle;
        margin: 0px 7px 7px 0px;
      }

      .row-counter, .seat-spot{
        display: inline-block;
        border-width: 1px;
      }

      .row-counter{
        font-weight: bold;
        font-size: 18px;
        text-align: right;
        margin-right: 15px;
        width: 15px;
      }

      .seat-spot{
        border-style: solid;
        border-color: #ccc;
        border-radius: 4px;
        cursor: pointer;
        width: $spotSize;
        height: $spotSize;

        &:hover:not(.has-seat){
          background-color: darken($globalBackground, 10%);
        }

        &.has-seat{
          background-color: $seatSpotColor;
          border-color: $seatSpotColor;

          &:hover {
            background-color: darken($seatSpotColor, 10%);
          }
        }
      }
    }
  }
}
