#session{
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.65)
    ),
    url(/images/bg2.jpg) center center no-repeat;
  background-size: cover;
}

#session_form{
  width: 400px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);

  h1{
    text-align: center;
  }

  input, button{
    width: 100%;
  }
}
